In [1]:
# 123456789 --> 1,9
x = int(input())
largedigit,leastdigit = 0,9
while x != 0:
    r = x %10
    if r > largedigit :
        largedigit = r
    if r < leastdigit:
        leastdigit = r
    x = x //10
print(leastdigit,largedigit)

123
1 3

# For Loop Statement

In [ ]:
# Syntax
for <local var> in <object name>:
    statement

In [3]:
for i in range(5):
    print(i,end = " ")

0 1 2 3 4

In [4]:
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [5]:
for i in range(1,11,2):
    print(i,end = " ")

1 3 5 7 9

In [7]:
for i in range(0,101,10):
    print(i,end = " ")

0 10 20 30 40 50 60 70 80 90 100

In [8]:
for i in range(10,0,-1):
    print(i,end = " ")

10 9 8 7 6 5 4 3 2 1

In [9]:
for i in range(-30,-10,1):
    print(i,end = " ")

-30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11

In [10]:
# 0 to 100 want to print multiples of 2 and 5
for i in range(0,101):
    if i%2 ==0 and i %5==0:
        print(i,end = " ")

0 10 20 30 40 50 60 70 80 90 100

In [12]:
# From Given Sentance print vowels 
vowels = "aeiouAEIOU"
sentance = input("Enter a sentance:")
for i in sentance:
    if i in vowels:
        print(i,end = " ")

Enter a sentance:Python is simple programming language
o i i e o a i a u a e

In [14]:
# input: 6
# Output:
#6*1=6
#6*2= 12
# -
# -
#6*10=60
n = int(input("Enter a number :"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter a number :9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

# Data Structures in Python:
- List
- Tuple
- Dictionary

# Data Structures:
- Store the data in particular Object
- it will makes several operations will become simple
  - sorting
  - searching
  - Stroing

# List in python:
- It is a common data structure in python for storing
- List can be enclosed with square brackets []
- Every list item will be separed with comma (,)
- List can be chnaged

In [15]:
li = [1,2,3,4,5,6]
print(li)

[1, 2, 3, 4, 5, 6]

In [16]:
l1 = [123,"Python","AI","Ml",12.3]
print(l1)

[123, 'Python', 'AI', 'Ml', 12.3]

In [20]:
# Access first item
li = [1,2,3,4,5,6]
print(li[0])
print(li[-6])

1
1

In [21]:
# access second item
print(li[1])

2

In [23]:
# Access to last item
li = [1,2,3,4,5,6]
print(li[-1])
print(li[5])

6
6

In [25]:
# Access range of item
li = [1,2,3,4,5,6]
print(li[0:4])
print(li[2:5])

[1, 2, 3, 4]
[3, 4, 5]

In [28]:
# update list
#Crud
# create
# Read
# Update
# delete
l1 = [123,"Python","AI","Ml",12.3]
print(l1)
l1[0] =456
print(l1)
l1[3] ="Ajay"
print(l1)

[123, 'Python', 'AI', 'Ml', 12.3]
[456, 'Python', 'AI', 'Ml', 12.3]
[456, 'Python', 'AI', 'Ajay', 12.3]

In [31]:
# Delete list
l1 = [123,"Python","AI","Ml",12.3]
print(l1)
del l1[1]
print(l1)
del l1
print(l1)

[123, 'Python', 'AI', 'Ml', 12.3]
[123, 'AI', 'Ml', 12.3]

NameError: name 'l1' is not defined