# Basic List Operations:

In [3]:
l1 = [1,2,3,4,5,6]
print(l1)
# length of the list
print(len(l1))
print(l1 * 2)

[1, 2, 3, 4, 5, 6]
6
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [7]:
# functions
l1 = [1,2,3,4,5,6]
print(max(l1))
print(min(l1))
print(sum(l1))
# Average
print(sum(l1)/len(l1))

6
1
21
3.5

# Methods of list:

### Append:
- It will insert the new list item at the end of the list

In [8]:
l1 = [1,2,3,4,5,6]
l1.append(4)

In [9]:
l1

[1, 2, 3, 4, 5, 6, 4]

In [10]:
l1.append(12)
l1

[1, 2, 3, 4, 5, 6, 4, 12]

# Insert method:
- it inserts the list value at particular position

In [11]:
l1 = [1,2,3,4,5,6]
l1.insert(2,28)

In [12]:
l1

[1, 2, 28, 3, 4, 5, 6]

In [14]:
l1.insert(4,78)
l1

[1, 2, 28, 3, 78, 4, 5, 6]

In [15]:
# Count
l1 = [1,2,3,4,5,6,4,8,9,11,4,55,4]
l1.count(4)

4

In [16]:
l1.count(1)

1

In [17]:
# Reverse Method:
l1 = [1,2,3,4,5,6]
l1.reverse()
l1

[6, 5, 4, 3, 2, 1]

In [18]:
# Sort Method: return values in ascending
l1 = [1,2,3,4,5,6,4,8,9,11,4,55,4]
l1.sort()
l1

[1, 2, 3, 4, 4, 4, 4, 5, 6, 8, 9, 11, 55]

In [19]:
# Pop Method:
# It will remove the last list item
l1 = [1,2,3,4,5,6]
l1.pop()
l1

[1, 2, 3, 4, 5]

In [20]:
l1.pop(2)
l1

[1, 2, 4, 5]

In [21]:
# Remove method
l1 = [1,2,3,4,5,6]
l1.remove(3)
l1

[1, 2, 4, 5, 6]

# Tuple:
- In tuple items are separated by comma(,) and enclosed with parenthesis ()
- Tuple cannot be chnaged
- Difference between list and tuple:
  - List are mutable/can be chnaged/modified
    - used to access,modify,add,delete
  - Tuple are immutable/cannot be changed 
    - used to access

In [22]:
t1 = (1,2,3,4,5,6)
print(t1)

(1, 2, 3, 4, 5, 6)

In [24]:
print(type(t1))

<class 'tuple'>

In [29]:
# access 
t1 = (1,2,3,4,5,6)
print(t1[2])
print(t1[1:4])

3
(2, 3, 4)

In [30]:
# lenght 
print(len(t1))

6

In [32]:
# update tuple - convert tuple into list
t = (1,2,3,4,5,6)
t1 = list(t)
print(t1)
t1[3] = 10
t = tuple(t1)
print(t)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 10, 5, 6)

In [36]:
# Append into tuple
t = (1,2,3,4,5,6)
t2 = list(t)
print(t2)
t2.append(10)
t = tuple(t2)
print(t)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6, 10)